@import './home';
@import './about';



main {
    width        : $mobileContainer;
    margin       : auto !important;
    height       : calc(100vh - 4.5rem);
    overflow     : hidden;
    position     : relative;
    padding      : 2.9rem .1rem .1rem !important;
    border-radius: .5rem;


    @media screen and (min-width: $lgscreen) {
        width  : $containerWidth;
        padding: 1.5rem 1rem .1rem !important;

    }
}