$primaryColor   : #0fa379;
$secondaryColor : #6353a1;
$accent         :#dcdbdd;
$light          :#fbfafc;
$containerWidth : 85%;
$mobileContainer: calc(100% - 2rem);
$lgscreen       : 990px;
$mdscreen       : 620px;